<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>485177928663-15ekj3nuuu4e2teqtahvf3i4iuq3r9o2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.485177928663-15ekj3nuuu4e2teqtahvf3i4iuq3r9o2</string>
	<key>API_KEY</key>
	<string>AIzaSyBYNSSuYMzgGw3jRfvSpJ5ssbVPkhrE878</string>
	<key>GCM_SENDER_ID</key>
	<string>485177928663</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.webank.Instagram-iOS</string>
	<key>PROJECT_ID</key>
	<string>instagram-ios-6df34</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-ios-6df34.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:485177928663:ios:87ace906215ac44babb992</string>
	<key>DATABASE_URL</key>
	<string>https://instagram-ios-6df34-default-rtdb.firebaseio.com</string>
</dict>
</plist>